talkbacksite/.classpath
talkbacksite/.gitignore
talkbacksite/.project
talkbacksite/.settings/org.eclipse.core.resources.prefs
talkbacksite/.settings/org.eclipse.jdt.core.prefs
talkbacksite/.settings/org.eclipse.m2e.core.prefs

.classpath
.gitignore
.project
.settings
bin