talkbacksite/talk-back-parent/.project
talkbacksite/talk-back-parent/.settings/org.eclipse.core.resources.prefs
talkbacksite/talk-back-parent/.settings/org.eclipse.m2e.core.prefs
talkbacksite/talk-back-parent/talk-back-site-8081/.classpath
talkbacksite/talk-back-parent/talk-back-site-8081/.gitignore
talkbacksite/talk-back-parent/talk-back-site-8081/.project
talkbacksite/talk-back-parent/talk-back-site-8081/.settings/org.eclipse.core.resources.prefs
talkbacksite/talk-back-parent/talk-back-site-8081/.settings/org.eclipse.jdt.core.prefs
talkbacksite/talk-back-parent/talk-back-site-8081/.settings/org.eclipse.m2e.core.prefs
talkbacksite/talk-back-parent/talk-back-site-8082/.classpath
talkbacksite/talk-back-parent/talk-back-site-8082/.gitignore
talkbacksite/talk-back-parent/talk-back-site-8082/.project
talkbacksite/talk-back-parent/talk-back-site-8082/.settings/org.eclipse.core.resources.prefs
talkbacksite/talk-back-parent/talk-back-site-8082/.settings/org.eclipse.jdt.core.prefs
talkbacksite/talk-back-parent/talk-back-site-8082/.settings/org.eclipse.m2e.core.prefs
talkbacksite/talk-back-parent/talk-bakc-common/.classpath
talkbacksite/talk-back-parent/talk-bakc-common/.gitignore
talkbacksite/talk-back-parent/talk-bakc-common/.project
talkbacksite/talk-back-parent/talk-bakc-common/.settings/org.eclipse.core.resources.prefs
talkbacksite/talk-back-parent/talk-bakc-common/.settings/org.eclipse.jdt.core.prefs
talkbacksite/talk-back-parent/talk-bakc-common/.settings/org.eclipse.m2e.core.prefs
talkbacksite/talk-back-parent/talk-bakc-service/.classpath
talkbacksite/talk-back-parent/talk-bakc-service/.gitignore
talkbacksite/talk-back-parent/talk-bakc-service/.project
talkbacksite/talk-back-parent/talk-bakc-service/.settings/org.eclipse.core.resources.prefs
talkbacksite/talk-back-parent/talk-bakc-service/.settings/org.eclipse.jdt.core.prefs
talkbacksite/talk-back-parent/talk-bakc-service/.settings/org.eclipse.m2e.core.prefs
*.project
*.prefs
*.classpath
*.gitignore
